<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.auth.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeLecturerController</servlet-name>
        <servlet-class>controller.lecturer.HomeLecturerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkReportController</servlet-name>
        <servlet-class>controller.lecturer.MarkReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDBContext</servlet-name>
        <servlet-class>dal.AccountDBContext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreDBContext</servlet-name>
        <servlet-class>dal.ScoreDBContext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupDBContext</servlet-name>
        <servlet-class>dal.GroupDBContext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleDBContext</servlet-name>
        <servlet-class>dal.RoleDBContext</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeLecturerController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkReportController</servlet-name>
        <url-pattern>/mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDBContext</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreDBContext</servlet-name>
        <url-pattern>/score</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupDBContext</servlet-name>
        <url-pattern>/group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleDBContext</servlet-name>
        <url-pattern>/role</url-pattern>
    </servlet-mapping>
</web-app>
