<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <param-name>canvasW</param-name>
        <param-value>500</param-value>
    </context-param>
    <context-param>
        <param-name>canvasH</param-name>
        <param-value>500</param-value>
    </context-param>
    <servlet>
        <servlet-name>RectController</servlet-name>
        <servlet-class>dynamic.RectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RectView</servlet-name>
        <servlet-class>view.RectView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestRectController</servlet-name>
        <servlet-class>dynamic.TestRectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>dynamic.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentsController</servlet-name>
        <servlet-class>controller.students.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>controller.students.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentsController</servlet-name>
        <servlet-class>controller.students.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentsController</servlet-name>
        <servlet-class>controller.students.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByDidController</servlet-name>
        <servlet-class>controller.student.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.authentication.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTableController</servlet-name>
        <servlet-class>controller.lecturers.TimeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeLecturerController</servlet-name>
        <servlet-class>controller.lecturer.HomeLecturerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceTakingController</servlet-name>
        <servlet-class>controller.lecturers.AttendanceTakingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkReportController</servlet-name>
        <servlet-class>controller.lecturers.MarkReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PresentReportController</servlet-name>
        <servlet-class>controller.lecturers.PresentReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsMarkReportController</servlet-name>
        <servlet-class>controller.students.MarkReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsPresentReportController</servlet-name>
        <servlet-class>controller.students.PresentReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsTimeTableController</servlet-name>
        <servlet-class>controller.students.TimeTableController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RectController</servlet-name>
        <url-pattern>/rect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RectView</servlet-name>
        <url-pattern>/view/rect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestRectController</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentController</servlet-name>
        <url-pattern>/students/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/students/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentController</servlet-name>
        <url-pattern>/students/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentController</servlet-name>
        <url-pattern>/students/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByDidController</servlet-name>
        <url-pattern>/students/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTableController</servlet-name>
        <url-pattern>/lecturer/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeLecturerController</servlet-name>
        <url-pattern>/homelecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceTakingController</servlet-name>
        <url-pattern>/lecturer/att</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkReportController</servlet-name>
        <url-pattern>/lecturer/markreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PresentReportController</servlet-name>
        <url-pattern>/lecturer/presentreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentMarkReportController</servlet-name>
        <url-pattern>/student/markreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentPresentReportController</servlet-name>
        <url-pattern>/student/presentreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentTimeTableController</servlet-name>
        <url-pattern>/student/timetable</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>25</session-timeout>
    </session-config>
</web-app>
